/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend:wght@100..900&display=swap');

/* Styles for the body */

body {
	  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
	    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2 {
	  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h4 {
	  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	
}

h5 {
	  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h6 {
	  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #F7F2EA;
}

.resume-main {
	background-color: #F7F2EA;
}

.resume-aside {
	background-color: #F7F2EA;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "✽";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #950709;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-level .language-progress {
	background-color: #A4C1D5 !important;
	border-radius: 23px; /* Optional: Add rounded corners */
}
.language-level {
    border: 4px solid #A4C1D5; /* Change to your desired border color */
    border-color: #A4C1D5 !important;
    border-radius: 23px; /* Optional: Add rounded corners */
}.my-20 {
}
